<head><script src="../js/jquery-mac/jquery.js"></script>
	<link rel="stylesheet" href="css/appended.css" type="text/css" media="screen">
</head>
<div class="item message in %messageStatus%" id="%itemId%">
	<div class="container">
		<div class="lightblue">
			<a href="twitter://post?message=%senderScreenName%: %message%">tweet</a>
			<a href="evernote://search/%message%">search on Evernote</a>
			<a href="skyfav://%itemId%/%senderScreenName%/%time%">favorite</a>
		</div>

		<div class="head">
			<span class="sender"><span class="profile" data-sender="%senderScreenName%"></span>
			<!-- <p>%senderScreenName% , %userIconPath%, %senderScreenName%, %sender%, %time%, %itemId%</p> -->
			<img src="%userIconPath%" class="avatar" alt="" data-sender="%senderScreenName%" /><a href="%senderLinkURL%">%sender%</a></span>
			<span class="time">%time%</span>
			<!-- <input type="checkbox" name="chkbox[]" class="checkMessage" value="2012260301200601"> -->
			<span class="messageInfo"></span>
			<button class="actions" title="%tooltipActions%"></button>
		</div>
		<div class="body">%message%</div>
	</div>
</div>

