<div class="item message out editable %messageStatus%" id="%itemId%">
	<div class="container">
		<div class="head">
			<span class="sender"><img src="%userIconPath%" class="avatar" />%sender%</span>
			<span class="time">%time%</span>
			<input type="checkbox" name="chkbox[]" value="2012260301200601">
			<p>%senderScreenName% , %userIconPath%, %senderScreenName%, %sender%, %time%, %itemId%</p>
			<button class="actions" title="%tooltipActions%"></button>
		</div>
		<div class="body">%message%</div>
	</div>
</div>